
*.pdf

*\.DS_Store

manuscript/manuscript\.aux

manuscript/manuscript\.fdb_latexmk

manuscript/manuscript\.fls

manuscript/manuscript\.ilg

manuscript/manuscript\.ind

manuscript/manuscript\.lof

manuscript/manuscript\.log

manuscript/manuscript\.lot

manuscript/manuscript\.out

manuscript/manuscript\.pyg

manuscript/manuscript\.synctex\.gz

manuscript/manuscript\.toc

manuscript/demo/main\.aux

manuscript/demo/main\.bbl

manuscript/demo/main\.blg

manuscript/demo/main\.fdb_latexmk

manuscript/demo/main\.fls

manuscript/demo/main\.idx

manuscript/demo/main\.ilg

manuscript/demo/main\.ind

manuscript/demo/main\.lof

manuscript/demo/main\.log

manuscript/demo/main\.lot

manuscript/demo/main\.out

manuscript/demo/main\.synctex\.gz

manuscript/demo/main\.toc
