p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.ex {
  background-color: #e8f4f9;
  padding: 1px 50px 30px 50px;
}

div.summary {
  background-color: #d6bdcf;
  padding: 1px 50px 30px 50px;
}

div.summary h2 {

}
/* Sidenotes, margin notes, figures, captions */
.sidenote { float: right;
             clear: right;
             margin-right: -15%;
             width: 40%;
             margin-top: 0;
             margin-bottom: 1rem;
             font-size: 1.1rem;
             line-height: 1.3;
             vertical-align: baseline;
             position: relative; }

.sidenote-number { font-family: et-book-roman-old-style;
                                           position: relative;
                                           vertical-align: baseline; }

.sidenote-number { font-size: 1rem;
                         top: -0.5rem;
                         left: 0.1rem; }


.sidenote code { font-size: 1rem; }

label.sidenote-number { display: inline; }
